{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Blog - {{title}}</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="icon" href="{% static 'main/images/logo.png' %}"> -->
	<link rel="stylesheet" href="{% static 'main/bootstrap/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/font-awesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/table-responsive.css' %}" media="screen">
	<link href="{% static 'main/css/main.css' %}" rel="stylesheet">
	{% block headStyle %}{% endblock %}

</head> 
<body>
	{% include 'adminpage/navbar.html' %}
<div class="container">
        {% block header %}
        {% endblock %}
    <div class="container mt-2" align="right">
        {% if request.user.groups.all.0.name == 'admin' %}
        <span class="bg-danger p-1 pl-2 pr-2 text-white" style="font-size: 0.7rem">P&aacute;jina Admin Geral<span/>
        {% elif request.user.groups.all.0.name == 'operator' %}
        <span class="bg-danger p-1 pl-2 pr-2 text-white" style="font-size: 0.7rem">P&aacute;jina Operador : {{request.user.user.firstname}} {{request.user.user.lastname}}<span/>
        {% endif %}
    </div>
	{% block content %}  

	{% endblock %}

</div>

<footer class="footer-container text-dark text-center mt-5 p-3"  style="margin-top: 20px">
  <div class="text-dark">
  <p>&copy; Copyright 2024 | Personal Blog</p>
  </div>
  <small class="text-dark">
    Developed by :
    <a href="mailto:lobatopereira2017@gmail.com" target="_blank">Lobato Pereira</a> 
  </small>
</footer>
</body> 
<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="{% static 'main/js/jquery.min.js' %}"></script>
        <script src="{% static 'main/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'main/bootstrap/js/jquery.slim.min.js' %}"></script>
		<!-- Datatable -->
		
		{% block scripts %}{% endblock %}
</html> 