{% extends "adminpage/admin_base.html" %}
{% block content %}  
<div class="container mt-3 p-5">
    <header> 
        <ol class="breadcrumb mb-1 mt-1">
          <li class="breadcrumb-item"><a href="{% url 'IndexAdmin' %}">Home</a></li>
          <!-- <li class="breadcrumb-item"><a href="{% url 'home' %}">Painel Produsaun</a></li> -->
          <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
        </ol>
    </header>
    <div class="card">
    {% if messages %}
        {% for message in messages %} 
          <div id="divmessage" class="alert alert-{{ message.tags }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{message}}
          </div>
        {% endfor %}
    {% endif %}
        <div class="card-header">
            <a href="{% url 'admin-project-add' %}" class="btn btn-sm btn-outline-info"><i class="fa fa-plus-square"></i> Rejistu Project</a>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-sm">
                <tr>
                    <th>Naran</th>
                    <th>Data Hahu</th>
                    <th>Data Remata</th>
                    <th>Estadu</th>
                    <th>Categoria</th>
                    <th>Portfolio</th>
                    <th>#</th>
                </tr>
                {% for data in objects %}
                <tr>
                    <td>{{data.naran|upper}}</td>
                    <td>{{data.data_hahu|date:"d-M-Y"}}</td>
                    <td>{{data.data_remata|date:"d-M-Y"}}</td>
                    <td>{{data.status}}</td>
                    <td>{{data.cat.naran}}</td>
                    <td>{{data.portfolio.titulu}}</td>
                    <td>
                        <a href="{% url 'admin-project-update' data.id %}" class="btn btn-sm btn-outline-success my-4"><i class="fa fa-edit"></i></a>

                        <a href="#" data-toggle="modal" data-target="#delete-{{ data.id }}" class="btn btn-sm btn-outline-danger my-4"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                <div class="modal fade" id="delete-{{ data.id}}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-body">
                          Ita Boot hakarak hamoos dadus Projetu ho naran {{data.naran}}?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                          <a href="{% url 'admin-project-delete' data.id %}" class="btn btn-info">Yes</a>
                        </div>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </table>    
        </div>
    </div>
    
</div>

{% endblock %}