
<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      
      <li class="nav-item"><a class="nav-link" href="{% url 'IndexAdmin' %}"><i class="fa fa-cogs"></i> KONFIGURASAUN </a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-o"></i> {{ request.user.username|upper }}</a>
        <div class="dropdown-menu" aria-labelledby="profile">
          <a class="dropdown-item" href="{% url 'IndexAdmin' %}"><i class="fa fa-cog"></i> Account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </li>

    </ul>
  </div>
