{% extends 'base.html' %}
{% load static %}
{% block konteudu %}
<!-- ABOUT -->
<div class="col-md-12 text-center bg-success" style="height: 200px;padding-top: 50px;margin-bottom: 10px;">
     <h2 class="" style="vertical-align: middle;">Portfolio</h2>
</div>
     
     <section>
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2><small>Find My Complated Project with Django</small></h2>
                         </div>
                    </div>


                    {% for data in dados %}
                    <div class="col-md-4 col-sm-6">
                         <div class="team-thumb">
                              <div class="team-image">
                                   {% if data.imajen %}<!-- kondisaun atu check karik imajen iha mak mostra selae mostra imajen default husi file static -->
                                   <img src="{{data.imajen.url}}" class="img-responsive" alt="">
                                   {% else %}
                                   <img src="{% static 'images/author-image1.jpg' %}" class="img-responsive" alt="">
                                   {% endif %}
                              </div>
                              <div class="team-info">
                                   <h3>{{data.titulu}} </h3>
                                   <span>{{data.deskrisaun}}</span>
                              </div>
                         </div>
                    </div>
                    {% endfor %}


               </div>
          </div>
     </section>
{% endblock %}