{% extends 'base.html' %}
{% load static %}
{% block konteudu %}
   <div class="col-md-12 text-center bg-success" style="height: 200px;padding-top: 50px;">
      <h2 class="" style="vertical-align: middle;">{{postData.title}}</h2>
   </div>
<section id="post-detail">
    <div class="container">
      <div class="row" style="margin-top:50px ;">
         <div class="col-lg-8 col-md-8">
            <div class="row" style="padding-left: 20px;padding-right: 20px;">
               <div class="col-sm-6">
                  <a href="">Author : {{postData.author.first_name}} {{postData.author.last_name}}</a>
               </div>
               <div class="col-sm-6 text-right">
                  <p>{{postData.publication_date|date:"d M Y"}}</p>
               </div>
            </div>
            <div style="margin-top: 50px;">
               <p class="text-justify">
                  {{postData.content|safe}}

               </p>
            </div>
         </div>
         <div class="col-lg-4" style="margin-top: 80px;padding-left: 40px;margin-bottom: 30px; border: 0.4px solid #eae8e8;border-radius: 10px;">
            <div class="text-left" style="margin-bottom: 30px;">
               <h3>Recent Post</h3>
            </div>
            {% for data in recentPost %}
            <div style="margin-bottom: 50px;">
               <div  style="float: left;width: 100px;">
                     <img src="{{ data.image.0 }}" alt="Image" height="100px" width="100px">
               </div>
               <div style="padding-left: 120px;">
                  <h5><a href="{% url 'detailPost' data.id %}">{{data.title}}</a></h5>
                  <p style="font-size: 0.9em;margin-top: -10px">{{data.content_text}} ...</p>
                  <p style="font-size: 0.9em;float: right;margin-top: -8px;">{{data.publication_date|date:"d/M/Y"}}</p>
               </div>
            </div>
            <hr>
            {% endfor %}
            
         </div>
      </div>
    </div>
</section>

{% endblock konteudu %}

